/* Write your CSS code here */
.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #12022f;
  font-family: 'Roboto';
}
.date {
  font-size: 14px;
  color: #9aa5b1;
  font-family: 'Roboto';
}
.description {
  font-size: 14px;
  color: #9aa5b1;
  font-family: 'Roboto';
  padding: 0 0 20px 0;
}
hr {
  border: 1px solid #9aa5b1;
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 26px;
  }
  .date {
    font-size: 18px;
  }
  .description {
    font-size: 18px;
  }
}
